
.separatorSub {
  border: none;
  background-color: #808080;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  margin-bottom: 40px;
}

.sub-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  min-width: 1500px;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

.sub-panel {
  background-color: rgba(10, 25, 49, 0.8);
  color: #fff;
  padding: 2rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 1500px;
  min-width: 1500px;
  
}

.sub-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap:inherit;
  justify-content: center;
  gap: 16px;
  margin: -8px;
  flex-direction: row;
}

.sub-col {
  flex: 0 0 calc(20% - 16px); /* 20% width for 5 items per row, minus the gap */
  max-width: calc(20% - 16px);
  margin: 8px; /* Half of the gap */
}

#subTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.input-containerSub {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.input-containerSub input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
  outline: none;
}


.sub-col-md-3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: center;
}

.sub-card {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  color: black;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-shrink: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.sub-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.sub-card:hover img {
  transform: scale(1.1);
}

.sub-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.8);
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sub-card:hover .sub-card-body {
  opacity: 1;
}

.sub-card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.sub-card-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* Adjust this number to show more or fewer lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
}

.favorite-btn::before,
.favorite-btn::after {
  content: '';
  position: absolute;
  top: 0;
  width: 15px;
  height: 25px;
  border-radius: 15px 15px 0 0;
  background: #ff4136;
  /* A brighter red for favorited items */
}

.favorite-btn::before {
  left: 15px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.favorite-btn::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.favorite-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .sub-row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .sub-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .sub-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .sub-row {
    grid-template-columns: 1fr;
  }
}