.login-container {
  position: relative;
    display: flex;
    background-image: url('./assets/bg.png');
    background-size: cover;
}
  
  .left-panel,
  .right-panel {
    flex: 1;
    background-color: rgba(10, 25, 49, 0.8); /* Adjust opacity for glass effect */
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Apply blur effect for glass-like appearance */
    padding-bottom: 85px;
  }
  
  .logoLog {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 25px ;
    width: 105%;
  }

  .logoLog img {
    width: 200px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
    margin-bottom: 40px;
  }
  
  .sign-in-panel,
  .community-panel {
    width: 100%;
    max-width: 300px;
  }

  h2 {
    text-align: center;
  }
  
  .sign-in-panel h2 {
    margin-bottom: 20px;
    width: 110%;
    
  }
  
  .input-container {
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
    width: 110%;
  }
  
  .input-container input {
    flex: 1;
    padding: 15px; 
    border: none;
    border-radius: 25px; 
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff; 
    font-size: 16px;
    outline: none; 
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .right-panel {
    background-color: rgba(0, 74, 0, 0.5); 
    text-align: center;
  }
  
  .right-panel h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .right-panel p {
    font-size: 18px;
  }

  .button-container {
    width: 116%;
    justify-content: space-between;
    display: flex;
  }

  .log,
  .reg {
    background: rgba(61, 152, 209, 0.9); 
    border: none; 
    border-radius: 25px; 
    color: #fff;
    font-size: 20px;
    padding: 12px 24px; 
    text-decoration: none;
    display: inline-block; 
    margin-right: 20px; 
    cursor: pointer; 
    transition: 0.3s ease; 
  }

  .reg {
    margin-left: 74px;
  }
  
  .log:hover, 
  .reg:hover {
    background: rgba(36, 175, 191, 0.9); 
  }

  .login-link-container {
    width: 105%;
    text-align: center;
    
  }

  .login-link {
    color: #24afbf; 
    text-decoration: none; 
    transition: color 0.3s ease; 

  }
  
  .login-link:hover {
    color: #36c9e2; 
    text-decoration: underline; 
  }

  .separatorLogin {
    border: none;
    width: 110%;  /* Adjust width as needed */
    height: 1px;
    margin: 10px 0;  
  }
  