.logoMain {
    text-align: center;
    margin-bottom: 20px;
  }

  .logoMain img {
    width: 200px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
    margin-bottom: 40px;
  }

  .separatorMain {
    border: none;
    background-color: #808080;
    width: 100%;  /* Adjust width as needed */
    height: 1px;
    margin: 10px 0;  
  }

  .main-container {
    display: flex;
    min-height: 100vh; 
    align-items: center; 
    justify-content: center; 
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center; 
  }

  .panel {
    flex: 1;
    background-color: rgba(10, 25, 49, 0.8); /* Adjust opacity for glass effect */
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Apply blur effect for glass-like appearance */
}

#MainTitle  {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .pets,
  .clothes,
  .appliance,
  .furniture,
  .outdoor,
  .games
  {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    background-color: white; 
    color: black; 
    text-align: center; 
    font-size: 20px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
    margin: 10px;
  }

  .pets {
    background-image: url('');
  }

  .games {
    background-image: url('');
  }

  .input-containerMain {
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .input-containerMain input {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff;
    font-size: 16px;
    outline: none;
  }