.panel {
    flex: 1;
    background-color: rgba(10, 25, 49, 0.8); /* Adjust opacity for glass effect */
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Apply blur effect for glass-like appearance */
}

.register-container {
  display: flex;
  min-height: 100vh; 
  align-items: center; 
  justify-content: center; 
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center; 
}

  .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo img {
    width: 200px; /* Adjust the width of the logo */
    height: auto;
    border-radius: 50%; /* Apply rounded corners to the logo */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Add a subtle shadow effect */
  }

  .input-container {
    margin-bottom: 20px;
  }

  .input-container input {
    width: 100%;
  padding: 15px; 
  border: none;
  border-radius: 25px; 
  background-color: rgba(255, 255, 255, 0.2); 
  color: #fff; 
  font-size: 16px;
  outline: none; 
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }


  h2  {
    text-align: center;
    width: 110%;
    margin-right: 20px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }

  .InfoPrompt {
    margin-left: 25px;
    text-align: center;
    margin-bottom: 10px;
  }

  .btn {
    background: rgba(61, 152, 209, 0.9); 
    border: none; 
    border-radius: 25px; 
    color: #fff;
    font-size: 20px;
    padding: 12px 24px; 
    text-decoration: none;
    display: inline-block; 
    margin-right: 20px; 
    margin-left: 100px;
    cursor: pointer; 
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: rgba(36, 175, 191, 0.9); 
  }